<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>

	<div class="text-center">
		<a href="novo-produto.html">Novo Produto</a>
	</div>

	<div id="inicio" class="container-fluid table">
		<h4>Lista de Produtos</h4>
		<table>
			<tr>
				<th>Nome</th>
				<th>Fabricante</th>
				<th>Volume</th>
				<th>Unidade</th>
				<th>Estoque</th>
				<th></th>
				<th></th>
			</tr>
			<tbody id="event-table">
				<tr v-for="produto in listaProdutos"
					:class="{editing: produto == produtoEditado}" v-cloak>
					<td>
						<div class="view">{{ produto.nome }}</div>
						<div class="edit">
							<input type="text" v-model="produto.nome" />
						</div>
					</td>
					<td>
						<div class="view">{{ produto.fabricante.nome }}</div>
						<div class="edit">
							<input type="text" v-model="produto.fabricante.nome" />
						</div>
					</td>
					<td>
						<div class="view">{{ produto.volume }}</div>
						<div class="edit">
							<input type="text" v-model="produto.volume" />
						</div>
					</td>
					<td>
						<div class="view">{{ produto.unidade }}</div>
						<div class="edit">
							<input type="text" v-model="produto.unidade" />
						</div>
					</td>
					<td>
						<div class="view">{{ produto.estoque }}</div>
						<div class="edit">
							<input type="text" v-model="produto.estoque" />
						</div>
					</td>
					<td>
						<div class="view">
							<button @click="editar(produto)">&#9998;</button>
						</div>
						<div class="edit">
							<button @click="salvar()">Salvar</button>
						</div>
						<button @click="deleta(produto)">&#10006;</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>